.list-group li{
    border-top-width: thick !important;
    border: 1px solid black;
    margin-top: 10px;
}

.fadeout {
    opacity: 1;
    /* display: none !important; */
    position: fixed;
    animation-name: fadeoutMovie;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
  }
  
  @keyframes fadeoutMovie {
    0% {
      opacity: 1;

    }
    50% {
      opacity:  50%;
    }
    100% {
      opacity: 0;
    }
  }


  .slideUp {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}


@include keyframes(slideUp) {
	0% {
		opacity: 0;
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
		-webkit-transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
		-webkit-transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
		-webkit-transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
		-webkit-transform: translateY(2%);
	}			
	100% {
		opacity: 1; 
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
	}	
}
